.header {
  background-color: red;
  color: white;
  height: 50px;
  width: 404px;
  align-content: center;
  margin-left: 400px;
  margin-top: 100px;
}
.nevigation {
  margin-left: 400px;
  background-color: rgb(101, 15, 206);
  height: 200px;
  width: 90px;
  color: white;
  float: left;
  margin-top: 3px;
}
.content {
  background-color: yellow;
  height: 200px;
  width: 310px;
  float: left;
  margin-right: 405px;
  margin-top: 3px;
  margin-left: 3px;
}
.sidebar {
  float: right;
  background-color: green;
  height: 115px;
  width: 55px;
  color: white;
  border: 3px solid white;
}

.footer {
  background-color: blue;
  margin-top: 208px;
  height: 16px;
  width: 404px;
  margin-left: 400px;
}
@media (max-width:600px){
  
}